<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= movie.rating %>
  </p>

   <% if local_assigns[:show_description] %>
    <p>
      <strong>Description:</strong>
      <%= movie.description %>
    </p>
  <% end %>



  <p>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </p>

</div>
