<p style="color: green"><%= notice %></p>


<%= render @movie, show_description: true %>
<% content_for :page_class, "centered" %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie, sort: params[:sort], direction: params[:direction]) %> |
  <%= link_to "Back to movies", movies_path(sort: params[:sort], direction: params[:direction]) %>
  

 <%= button_to "Destroy this movie", @movie, method: :delete, params: { sort: params[:sort], direction: params[:direction] } %>
</div>
